<!DOCTYPE html>
<html>
	<head>
		<title>Hard Livin' Configurator</title>
		<link rel='stylesheet' type='text/css' href='static/main.css' />
		<link rel='stylesheet' type='text/css' href='static/configurator.css' />
		<script type='text/javascript' src='static/jquery-1.10.2.min.js'></script>
		<script type='text/javascript' src='static/jquery-ui-1.10.3.custom.min.js'></script>
		<script type='text/javascript' src='static/jquery.editable.min.js'></script>
		<script type='text/javascript' src='static/configurator.js'></script>
	</head>
	<body>
		<div class='topbar'>
			<h1>Hard Livin' Configurator</h1>
			<div class='save button disabled'>Save Changes</div>
			<div class='status'><span></span></div>
			<div>Board: <span class='count bcount'>{{ info|length - unused|length }}</span></div>
			<div>Unused: <span class='count ucount'>{{ unused|length }}</span></div>
			<div>Dim painted squares: <input id='dim-painted' type='checkbox' /></div>
			<div class='clear button'>Clear</div>
			<div class='random button'>Fill randomly</div>
		</div>
		<div class='board-container'>
			<div class='board'>
				{% for column in columns %}
				<div class='column'>
					{% for filename in column %}
					{% if filename %}
					<a href='#{{ filename }}' class='square' title='{{ info[filename][0] }}'>
						<img src='static/images/128/{{ filename }}.png' />
					</a>
					{% else %}
					<div class='empty'></div>
					{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
				<div class='column'>
					{% for _ in range(5) %}
					<div class='empty'></div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class='info'>
			{% for filename, (title, desc, painted) in info.iteritems() %}
			<div id='{{ filename }}'>
				<img src='static/images/128/{{ filename }}.png' />
				<div class='painted'>Painted?
					<input type='checkbox' {% if painted %}checked='checked' {% endif %}/>
				</div>
				<p class='title'>{{ title }}</p>
				<p class='desc'>{{ desc }}</p>
			</div>
			{% endfor %}
		</div>
		<div class='unused'>
			{% for filename in unused %}
			<a href='#{{ filename }}' class='square' title='{{ info[filename][0] }}'>
				<img src='static/images/128/{{ filename }}.png' />
			</a>
			{% endfor %}
		</div>
	</body>
</html>
