<!DOCTYPE html>
<html>
	<head>
		<title>Hard Livin' at Snakes &amp; Lattes</title>
		<link rel='stylesheet' type='text/css' href='/static/main.css' />
		<link rel='stylesheet' type='text/css' href='/static/board.css' />
		<script type='text/javascript' src='/static/jquery-1.10.2.min.js'></script>
		<script type='text/javascript' src='/static/jquery-ui-1.10.3.custom.min.js'></script>
		<script type='text/javascript' src='/static/jquery.editable.min.js'></script>
		<script type='text/javascript' src='/static/board.js'></script>
	</head>
	<body>
		<div class='topbar'>
			<h1>Hard Livin' at S&amp;L</h1>
			<div class='save button disabled'>Save Changes</div>
			<div class='status'><span></span></div>
			<div>Board: <span class='count bcount'>{{ info|length - unused|length }}</span></div>
			<div>Unused: <span class='count ucount'>{{ unused|length }}</span></div>
			<div>Sold: <span class='count scount'>{{ sold|length }}</span></div>
			<div>Dim sold squares: <input id='dim-sold' type='checkbox' /></div>
		</div>
		<div class='board-container'>
			<div class='board'>
				<div class='wall' ></div>
				{% for column in columns %}
				<div class='column'>
					{% for filename in column %}
					{% if filename %}
					<a href='#{{ filename }}' class='square' title='{{ info[filename][0] }}'>
						<img src='/static/images/144/{{ filename }}.png' />
					</a>
					{% else %}
					<div class='empty'></div>
					{% endif %}
					{% endfor %}
				</div>
				{% endfor %}
			</div>
		</div>
		<div class='info'>
			{% for filename, sqinfo in info.items() %}
			<div id='{{ filename }}'>
				<div class='left'>
					<img src='/static/images/144/{{ filename }}.png' />
					<p class='sold'>Sold?
						<input type='checkbox' {% if sqinfo['sold']|int %}checked='checked' {% endif %}/>
					</p>
				</div>
				<p class='large'>{{ sqinfo['title'] }}</p>
			</div>
			{% endfor %}
		</div>
		<div class='unused'>
			{% for filename in unused %}
			<a href='#{{ filename }}' class='square' title='{{ info[filename][0] }}'>
				<img src='/static/images/144/{{ filename }}.png' />
			</a>
			{% endfor %}
		</div>
	</body>
</html>
