<!DOCTYPE html>
<html>
	<head>
		<title>HARD LIVIN' &ndash; A Room-Sized Board Game Adventure &ndash; Zen Rankin &amp; Marcus Kamps</title>
		<link rel='stylesheet' type='text/css' href='static/main.css' />
		<link rel='stylesheet' type='text/css' href='static/title.css' />
		<script type='text/javascript' src='static/jquery-1.10.2.min.js'></script>
		<script type='text/javascript' src='static/title.js'></script>
	</head>
	<body>
		<div class='title'>
			<img src='static/title.png' alt="HARD LIVIN' - A Room-Sized Board Game Adventure - Zen Rankin & Marcus Kamps" />
			<div class='h'></div>
			<div class='a'></div>
			<div class='r'></div>
			<div class='d'></div>
			<div class='l'></div>
			<div class='i1'></div>
			<div class='v'></div>
			<div class='i2'></div>
			<div class='n'></div>
			<div class='ap'></div>
		</div>
		<p class='large'>February 8 &ndash; 23, 2014</p>
		<p><a href='http://www.hashtaggallery.com' target='_blank'>#HASHTAG Gallery</a>, 801 Dundas St. W., Toronto</p>
	</body>
</html>
