<!DOCTYPE html>
<html>
	<head>
		<title>HARD LIVIN' &ndash; A Room-Sized Board Game Adventure &ndash; Zen Rankin &amp; Marcus Kamps</title>
		<link rel='stylesheet' type='text/css' href='static/main.css' />
		<link rel='stylesheet' type='text/css' href='static/title.css' />
		<script type='text/javascript' src='static/jquery-1.10.2.min.js'></script>
		<script type='text/javascript' src='static/title.js'></script>
	</head>
	<body>
		<div class='title'>
			<img src='static/images/title.png' alt="HARD LIVIN' - A Room-Sized Board Game Adventure - Zen Rankin & Marcus Kamps" />
			<div class='h'></div>
			<div class='a'></div>
			<div class='r'></div>
			<div class='d'></div>
			<div class='l'></div>
			<div class='i1'></div>
			<div class='v'></div>
			<div class='i2'></div>
			<div class='n'></div>
			<div class='ap'></div>
		</div>
		<div class='feature'>
			Opening Saturday,<br />
			<img src='static/images/arrow-right.png' />
			<span>February 8, 2014</span> @ <span>7pm</span>
			<img src='static/images/arrow-left.png' /><br />
			Events through February 23
		</div>
		<p class='gallery'>
			<a href='http://www.hashtaggallery.com/2014/01/11/feb-8-28-zen-rankin-marcus-kamps-hard-livin/' target='_blank'>
				<img src='static/images/gallery.png' alt='#HASHTAG Gallery' />
			</a><br />
			801 Dundas St. W., Toronto
		</p>
		<p>
			Hard Livin' is a life-sized board game that will fill Hashtag's walls with over
			500 unique pieces of hand-painted pixel art. Experience this larger-than-life obstacle
			course as you discover the trials and triumphs of a game that explores the state of
			mind a person may experience while manouvering through a difficult period in their life.
			Your survival depends on the choices you make and your ability to discover patterns and
			adopt strategies. Succeed, and you could win a prize graciously donated by one of our
			generous sponsors—A&amp;C Games, Snakes &amp; Lattes, Snakes &amp; Lagers,
			and Guerilla Printing.
		</p>
		<p>
			Bring a friend or a loved one who can help you through hard times, or rely on the
			kindness of strangers. Do you have what it takes to beat Hard Livin'?
		</p>
		<p class='logos'>
			<a href='http://www.acgamesonline.com/'><img src='static/images/logo-ac.png' alt='A&amp;C Games' /></a>
			<a href='http://www.guerillaprinting.ca/'><img src='static/images/logo-guerilla.png' alt='Guerilla Printing' /></a>
			<a href='http://www.snakesandlattes.com/bar/'><img src='static/images/logo-slagers.png' alt='Snakes &amp; Lagers' /></a>
			<a href='http://www.snakesandlattes.com/'><img src='static/images/logo-slattes.png' alt='Snakes &amp; Lattes' /></a>
		</p>
	</body>
</html>
