<!DOCTYPE html>
<html>
	<head>
		<title>HARD LIVIN'</title>
		<link rel='stylesheet' type='text/css' href='static/main.css' />
		<link rel='stylesheet' type='text/css' href='static/title.css' />
	</head>
	<body>
		<div class='title'>
			<img src='static/title.png' />
			<div class='h'></div>
			<div class='a'></div>
			<div class='r'></div>
			<div class='d'></div>
			<div class='l'></div>
			<div class='i1'></div>
			<div class='v'></div>
			<div class='i2'></div>
			<div class='n'></div>
			<div class='ap'></div>
		</div>
		<p>Premiering at <a href='http://www.hashtaggallery.com' target='_blank'>#HASHTAG Gallery</a>, February 8&ndash;23, 2014</p>
		<p>801 Dundas St. W., Toronto</p>
	</body>
</html>
