.topbar .status { width: 100px; height: 100%; }
.topbar .count { font-weight: bold; }

.button { margin-top: 6px; padding: 5px 20px; border: 0; background: #fff; color: #333;
	line-height: 24px; font-size: 14px; text-decoration: none; }
.button:hover { background: #999; color: #fff; cursor: pointer; }
.button:active { background: #000; }
.button.disabled { background: #fff; color: #ccc; cursor: default; }

.square, .empty { display: block; width: 64px; height: 64px; background: #edb; outline: none; }
.square img { width: 100%; height: 100%; }

.board-container { margin-bottom: 32px; background: #fff; overflow-x: scroll; }
.board { width: 100%; height: 400px; padding: 15px 1px 1px 15px; font-size: 0; white-space: nowrap; }
.board .column { display: inline-block; vertical-align: top; }
.board .column .square,
.board .column .empty { margin: 0 14px 14px 0; border: 1px solid #fff; }

.board .column .square:hover { border-color: #963; }

.square.ui-dragged { visibility: hidden; }
.square.ui-draggable-dragging { border: 1px solid #fff !important; }
.square.dimmed { opacity: 0.1; }
.empty.ui-drophover { background: #963; }

.info { float: left; width: 400px; margin: 0 16px 0 32px; min-height: 1px; font-size: 14px; }
.info > div { display: none; }
.info > div .left { float: left; width: 130px; margin: 0 16px 16px 0; }
.info > div img { background: #edb; border: 1px solid #fff; }
.info > div > p { margin: 0 0 16px 146px; }
.info > div .title { font-size: 20px; }
.info > div .desc { min-height: 200px; white-space: pre-wrap; }
.info > div .desc:hover { background: #222; cursor: text; }
.info textarea { width: 100% !important; border: 0; background: #111 !important; color: #fff; }

.unused { height: 296px; padding: 8px 0 0 8px; background: #222;
	overflow-y: scroll; }
.unused .square, .unused .empty { float: left; margin: 0 8px 8px 0;
	border: 1px solid #333; }
.unused .square:hover { border-color: #fff; }
