.squares { display: none; }

.board { margin-top: 150px; font-size: 0; text-align: center; }
.board div div { display: inline-block; width: 64px; height: 64px; margin: 7px;
	border: 1px solid #fff; vertical-align: top; }
.board div div a { display: block; width: 100%; height: 100%; margin: auto; background: #edb;
	cursor: pointer; }
.board div div a img { width: 100%; height: 100%; }
