.topbar { height: 40px; padding: 10px; text-align: center; }

.square, .empty { display: block; width: 64px; height: 64px; background: #edb; outline: none; }

.board-container { margin-bottom: 32px; background: #fff; overflow-x: scroll; }
.board { width: 100%; height: 400px; padding: 15px 1px 1px 15px; font-size: 0; white-space: nowrap; }
.board .column { display: inline-block; vertical-align: top; }
.board .column .square,
.board .column .empty { margin: 0 14px 14px 0; border: 1px solid #fff; }

.board .column .square:hover { border-color: #963; }

.info { width: 400px; margin-right: 16px; min-height: 1px; float: left; }
.info div { display: none; }
.info div img { float: left; margin-left: 32px; background: #edb;
	border: 1px solid #fff; }
.info div p { margin: 0 0 16px 178px; }
.info div .name { font-size: 20px; }
.info div .desc { font-size: 14px; min-height: 200px; white-space: pre-wrap; }
.info textarea { width: 100% !important; border: 0; background: #111 !important; color: #fff; }
